 
      body {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }

      .giant-text {
        font-family: "Anton", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: clamp(1.3rem, 7vw, 3rem);
        line-height: 100%;
        text-align: center;
        text-transform: uppercase;
      }

      @media (min-width: 1024px) {
        .giant-text {
          font-size: 200px;
        }
      }

      .hero-text {
        font-family: "Anton", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 128px;
        line-height: 120%;
        letter-spacing: -3%;
        text-transform: uppercase;
      }

      @media (min-width: 1024px) {
        footer {
          max-width: 1440px;
          height: 604px;
        }
      }

      @media (min-width: 1024px) {
        .topSection {
          max-width: 1440px;
          margin: auto;
        }

        #ecosystem-section {
          height: 783px;
        }
      }

      .anton-like {
        font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
          "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
        font-weight: 900;
        letter-spacing: -0.03em;
      }

      .smart-core-heading {
        font-size: clamp(3rem, 10vw, 6rem);
        line-height: 1;
        color: white;
      }
      .core-heading {
        font-size: clamp(2rem, 5vw, 6rem);
        line-height: 1;
        color: white;
      }

      .core-color {
        color: #ccdc48;
      }

      .product-visual-container {
        width: clamp(280px, 45vw, 600px);
        aspect-ratio: 1 / 1;
        position: relative;
      }

      .suit-color {
        color: #ccdc48;
      }

      .body-text {
        font-size: clamp(1rem, 2.5vw, 1.5rem);
        line-height: 1.25;
        color: white;
        font-weight: 500;
        max-width: 400px;
        z-index: 20;
      }

      .suit-section {
        height: 500px;
      }

      @media (min-width: 768px) {
        .suit-section {
          height: 937px;
        }
      }

      .data-color {
        color: #ccdc48;
      }

      .small-heading {
        font-size: clamp(2.2rem, 3vw, 4rem);
        line-height: 1;
        color: white;
      }

      @media (min-width: 1024px) {
        .large-text {
          font-family: "Anton", sans-serif;
          font-weight: 400;
          font-style: normal;
          font-size: 96px;
          line-height: 99%;
          letter-spacing: 0%;
          text-transform: uppercase;
        }
      }

      br {
        display: none;
      }

      @media (min-width: 1024px) {
        br {
          display: inline;
        }
      }
      .custom-scrollbar-container::-webkit-scrollbar {
        height: 3px;
        width: 2px;
      }

      .custom-scrollbar-container::-webkit-scrollbar-track {
        background: #333333;
        border-radius: 10px;
      }

      .custom-scrollbar-container::-webkit-scrollbar-thumb {
        background: #88b04b;
        border-radius: 10px;
      }

      @media (min-width: 1024px) {
        .lg\:custom-card-dims {
          width: 424px;
          height: 600px;
        }
        .lg\:custom-card-dims img {
          width: 424px;
          height: 480px;
          object-fit: cover;
          border-radius: 10px 10px 0 0;
        }
      }

      .signature {
        height: 50px;
        width: auto;
      }
      .stats-font {
        font-size: clamp(2.5rem, 8vw, 6rem);
        line-height: 1;
        font-weight: 800;
      }

      .data-color-lime {
        color: #ccff00;
      }
      .bg-data-color-lime {
        background-color: #ccff00;
      }
      .product-scroll-container::-webkit-scrollbar {
        height: 6px;
      }
      .product-scroll-container::-webkit-scrollbar-thumb {
        background: #333333;
        border-radius: 10px;
      }
      .product-scroll-container::-webkit-scrollbar-track {
        background: #000000;
      }
      .product-card {
        min-height: 600px;
      }
      .product-card .product-image-container {
        height: 400px;
      }
      .product-card .product-image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .product-card .product-button {
        opacity: 0;
        transition: opacity 0.3s ease;
      }
      .product-card:hover .product-button {
        opacity: 1;
      }
 